<div class="header">
    <h1>Gummi Bear Kingdom</h1>
    <a href='@Url.Action("Index", "Home")' class="btn btn-danger">Home</a>
    <a href='@Url.Action("Index", "Products")' class="btn btn-danger">Products</a>
    <a href='@Url.Action("About", "Home")' class="btn btn-danger">About</a>
</div>
