<div class="header">
    <h1>Gummi Bear Kingdom</h1>
    <a href='@Url.Action("Index", "Products")' class="btn btn-primary">Products</a>
    <a href='@Url.Action("About", "Home")' class="btn btn-primary">About</a>
</div>
