@{
    ViewData["Title"] = "Welcome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="welcome">
    <h3>Hi!</h3>
    <p>We are glad you are here we are the premiere supplier of quality gummy candies in the portland metro! Feel free to browse our selection by clicking on products. If you want to learn more about Gummi Bear Kingdom just click on about.</p>
</div>