@{
    ViewData["Title"] = "Delete Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model GummiBearKingdom.Models.Product

<h2>Are you sure you wish to remove @Html.DisplayFor(model => model.Name) from the database?</h2>
<h3>This cannot be undone!</h3>
@using (Html.BeginForm())
{
    <input class="btn btn-danger" type="submit" value="Confirm Delete" />
}